<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>

<header xmlns:th="http://www.thymeleaf.org">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">FMO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
              aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
        <ul class="navbar-nav m-auto">
          <li class="nav-item m-auto">
            <a class="nav-link active" href="/products">Products</a>
          </li>
          <li class="nav-item m-auto" sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link active" th:href="@{/statistics}" th:method="GET">Statistics</a>
          </li>
          <li class="nav-item m-auto" sec:authorize="hasRole('ROLE_DELIVER')">
            <a class="nav-link active" th:href="@{/delivery}" th:method="GET">Delivery</a>
          </li>
        </ul>


        <ul class="nav navbar-nav navbar-right">


          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
            <a class="btn btn-success btn-sm ml-3" th:href="@{/order}" th:method="GET">
              <i class="fa fa-shopping-cart"></i> Cart
            </a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="btn btn-light btn-sm ml-3" href="/logout">
              <i class="fa fa-shopping-cart"></i> Logout
            </a>
          <li class="nav-item">
            <a class="btn btn-light btn-sm ml-3" sec:authorize="!isAuthenticated()" href="/register">
              <i class="fa fa-shopping-cart"></i> Register
            </a>
          </li>
          <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="btn btn-light btn-sm ml-3" href="/login">
              <i class="fa fa-shopping-cart"></i> Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>



<section th:include="${bodyContent}"></section>




<footer class="container-fluid text-center" style="padding-top: 100px">
  <p>FMO Store</p>
  <p>2023</p>
  <p>Hristijan Mitic</p>
</footer>

</body>
</html>